
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# other pdfs to ignore
doc/presentations/omv_meeting.pdf
doc/requirementEngineering/REproccess.pdf
doc/requirementEngineering/REproccessOLD.pdf
doc/requirementEngineering/REproccessNIK.pdf
doc/testEvaluation/testEvaluation*
doc/D2.1_AMIDSTModelingFramework/D2.1_AMIDSTModellingFramework.*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE noise
.idea/
core.iml



# pdf noise
doc/REproccess.pdf


# latex noise
*.synctex.gz
*.log
*.aux
*.bbl
*.blg
*.nav
*.out
*.snm
*.toc

# Other noise
*~
*.bak
*.el

*.rel
